h1 {
  font-size: 30px;
  padding-left: 0px;
  text-align: left;
}

/* nav style */
.navbar {
  text-align: right;
  margin-bottom: 100px;
}
.navbar a:hover {
  color: Blue;
}

/* task list style */
.list-title {
  font-size: 40px;
  color: Black;
  background-color: LightGrey;
  padding:  15px 15px 15px 25px;
}
.container-fluid {
  float: right;
  width: 50%;
  text-align: left;
  margin-right: 25%;
  margin-top: 5%;
}
.task-container {
  background-color: WhiteSmoke;
  padding:  20px 20px 20px 25px;
  font-size: 20px;
  border-style: outset;
  border-color: WhiteSmoke;
  color: Black;
}
.new-form-task {
  margin-top: 15px;
}
