<section>
  <div class="container-fluid">
    <div class="list-title"> Current Tasks </div>
    <div class="list-container">
      <div class="task-container" ng-repeat="taskList in home.tasks"
        ng-hide="home.expiredTask(taskList.timeDate) || home.completedTask(taskList.completed)">
        <div> {{ taskList.text }} </div>
      </div>
      <div class="new-form-task">
        <form ng-submit="home.addTask(home.data.selectedOption.name)">
          <input type="text" ng-model="home.text" name="text" placeholder="Enter your new task"/>
          <select name="mySelect" id="mySelect" ng-options="option.name for option in home.data.availableOptions track by option.id" ng-model="home.data.selectedOption"></select>
          <input type="submit" id="submit" value="Add Task" />
        </form>
      </div>
    </div>
  </div>
</section>
